.header {
  height: 35px;
  width: 100%;
  margin: auto;
  position: fixed;
  background-color: #000000;
}

#code-edit {
  font-family: 'Nunito';
  resize: none;
  background-color: #2a2a2a;
  color: white;
  font-size: 15px;
  margin-left: 40px;
  -webkit-overflow-scrolling: auto;
  position: relative;
}

#linecount-edit-cont {
  position: absolute;
  width: 40px;
  margin-top: 3px;
  overflow-y: hidden;
}

#linecount-edit-num {
  color: white;
  text-align: end;
  font-size: 15px;

}