.header {
  height: 35px;
  width: 100%;
  margin: auto;
  position: fixed;
  background-color: #000000;
  overflow-x: scroll;
  display: inline-flex;
  flex-direction: row;
}

.tab-cont {
  color: white;
  height: 30px;
  min-width: 100px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: left;
  align-items: center;
  padding-left: 5px;
  background-color: #474747;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  overflow: auto;
  text-overflow: ellipsis;
  flex-direction: row;
}

#tab-close {
  color: rgb(148, 148, 148);
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  background-color: #474747;
  height: 30px;
  float: right;
  position: absolute;
  transform: translate(-20px);
  user-select: none;
}

#tab-close-selected {
  color: rgb(148, 148, 148);
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  background-color: #646464;
  height: 30px;
  float: right;
  position: absolute;
  transform: translate(-20px);
  user-select: none;
}

#tab-close:hover {
  background-color: rgb(53, 53, 53);
}

#tab-close-selected:hover {
  background-color: rgb(53, 53, 53);
}

.tab-cont:hover {
  background-color: #5c5c5c;
}

#tab-title {
  white-space: nowrap;
  padding-right: 25px;
  user-select: none;
}

#code-edit {
  font-family: 'Nunito';
  resize: none;
  background-color: #2a2a2a;
  color: white;
  font-size: 15px;
  margin-left: 40px;
  -webkit-overflow-scrolling: auto;
  position: relative;
  outline: none;
  border: none;
}

#linecount-edit-cont {
  position: absolute;
  width: 40px;
  margin-top: 3px;
  overflow-y: hidden;
}

#linecount-edit-num {
  color: rgb(139, 139, 139);
  text-align: end;
  font-size: 15px;
}

#tab-selected {
  background-color: #646464;
}

#tab-selected:hover {
  background-color: #515151;
}

.tab-add {
  color: white;
  height: 30px;
  min-width: 20px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  background-color: #313131;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 0px 5px 5px 0px;
}

.footer {
  height: 20px;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: #000000;
  width: 100%;
  font-size: 10px;
  display: inline-flex;
  vertical-align: middle;
  justify-content: left;
  align-items: center;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
}

::-webkit-scrollbar-thumb {
  background: rgb(99, 99, 99);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(54, 54, 54);
}