.header {
  height: 35px;
  width: 100%;
  margin: auto;
  position: fixed;
  background-color: #000000;
}

.code-edit {
  font-family: 'Nunito';
  resize: none;
  background-color: #2a2a2a;
  color: white;
  font-size: 15px;
}