@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./nunito.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
